<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.Vinut-swiper{
	width: 1600px !important;
    max-width: 1600px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
	padding-left: 0px !important;
	
}

</style>
<!-- end Simple Custom CSS and JS -->
